.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #154775;
    color: white;
    min-height: 100vh;
    padding: 25px;
}

.bg-blue {
    background-color: #154775 !important;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu li a, .menu li a:visited, .menu li a:active, .menu li a:hover, .menu li a:focus {
    color: white;
    text-decoration: none;
}

.tasks {
    width: 500px;
    margin: 0 auto;
}

.recurrent-tasks {
    max-width: 1000px;
    margin: 0 auto;
}

.recurrent-tasks td, .recurrent-tasks th {
    text-align: center;
}

.page {
    margin-left: 300px;
    padding: 25px;
}

input[type=checkbox] {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

tbody {
    font-size: 14px;
}

.close {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    outline: none;
    border: none;
    background-color: transparent;
    float: right;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.edit-folder-name-btn {
    font-size: 18px;
    vertical-align: top;
}

.login-box {
    padding: 25px;
    background-color: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons-menu {
    text-align: right;
    width: 500px;
    margin: 0 auto;
}

.buttons-menu button {
    margin: 5px;
    display: inline-block;
}

.buttons-menu .dropdown {
    margin: 5px;
    display: inline-block;
}

.buttons-menu-recurrent {
    text-align: right;
    width: 1000px;
    margin: 0 auto;
}

.buttons-menu-recurrent button {
    margin: 5px;
    display: inline-block;
}

.buttons-menu-recurrent .dropdown {
    margin: 5px;
    display: inline-block;
}

.small-table {
    table-layout: fixed;
    width: 500px;
}

.customEvent {
    background-color: #66bfff;
    color: white;
    height: 100%;
}

.small-text {
    font-size: 12px;
}